body{
    overflow-x: hidden;
}
main{
    height: max-content;
    width: calc(100% - 18rem);
    margin: 2rem 5rem;
    margin-left: 8rem;
}

header{
    height: max-content;
    width: 100%;
}

header .header-background,
header .header-face{
    height: 890px;
    width: 105.7rem;
    position: absolute;
    right: -11.5rem;
    top: 0;
    z-index: -1;
}

header .header-face{
    height: 600px !important;
    width: 22rem !important;
    top: 11.93rem !important;
    right: 9.9rem !important;
    transform: rotateZ(0.5deg);
}

header h3{
    font-size: 1rem !important;
    color: #797979;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10rem;
}

header h1{
    font-size: 3.75rem !important;
    color: var(--primary);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

header h5{
    font-size: 1.35rem !important;
    font-weight: normal;
    letter-spacing: 2px;
    color: var(--primary);
}

header .social{
    height: fit-content;
    width: fit-content;
    margin: 3rem 0;
}

header .social i{
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: var(--primary);
    height: 2rem !important;
    width: 2rem !important;
}

header .social i:hover{
    background: var(--gradient-right);
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

header button{
    padding: 0.9rem 2.1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    background: var(--gradient-right);
    border-radius: 0.3rem;
    background-size: 200% auto;
    color: #fff;
    cursor: pointer;
    transition: background-position 0.25s ease-in;
}

header button:hover{
    background-position: 100%;
}

header .ratings{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 37rem !important;
    margin-top: 15rem !important;
}

header .ratings div{
    height: 5rem !important;
    width: fit-content;
    display: block;
}

header .ratings div h2,
header .ratings div h3{
    height: fit-content;
    width: fit-content;
    margin: 0.5rem auto;
    letter-spacing: 0;
}

header .ratings div h2{
    font-size: 1.6rem !important;
    background: var(--gradient-right);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#about,
#services{
    height: fit-content;
    width: fit-content;
    margin: 10rem 0;
    display: flex;
}

#about img{
    height: 23rem !important;
    width: 28rem !important;
    position: relative;
    top: 2.5rem;
    margin-right: 7.5rem;
    z-index: -1;
}

#about div{
    height: fit-content;
    width: 35rem !important;
    position: relative;
    top: 3rem;
    z-index: -1;
}

#about div h3,
#services h3,
#tesitmonial h3,
#portfolio h3{
    color: #797979;
    letter-spacing: 2px;
    position: relative;
    font-weight: 600 !important;
    font-size: 14px;
}

#about div h3::after,
#services h3::after,
#tesitmonial h3::after,
#portfolio h3::after{
    content: "";
    height: 4px !important;
    width: 5rem !important;
    background: #ed239f99;
    filter: blur(4px) !important;
    border: none;
    position: absolute;
    top: 0.3rem;
    left: 6.32rem;
    border-radius: 5px;
    -webkit-filter: blur(4px);   
}

#about div h1,
#services h1,
#tesitmonial h1,
#portfolio h1{
    font-size: 2.6rem;
    font-weight: 900;
    color: var(--primary);
    margin: 2rem 0;
}

#about div p,
#services p,
#tesitmonial p{
    width: 30rem;
    font-size: 0.9rem;
    color: #797979;
    line-height: 1.5rem;
}

#about div button{
    padding: 0.9rem 2.1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    background: var(--gradient-right);
    border-radius: 0.3rem;
    background-size: 200% auto;
    color: #fff;
    cursor: pointer;
    transition: background-position 0.25s ease-in;
    margin-top: 3rem;
}

#about div button:hover{
    background-position: 100%;
}

#services{
    margin: 0;
    display: block !important;
}

#services h3::after{
    left: 8rem;
    top: 0.5rem;
}
#services .container{
    height: fit-content;
    min-height: 25rem !important;
    width: 87vw !important;
    text-align: center;
    margin: 5rem 0;
}

#services .service-box{
    height: 25rem;
    width: 20rem;
    margin: auto;
    display: inline-block;
    margin: 2rem;
    transition: background 0.25s ease-in;
}

#services .service-box:hover{
    background: var(--tertury);
}

#services .service-box p{
    width: 20rem;
    margin: 2rem auto;
    text-align: center;
    color: #797979;
}

#services .service-box img{
    margin: 3rem auto;
    width: fit-content;
}
#services .service-box h2,
#services .service-box h4{
    color: var(--primary);
    text-shadow: none;
    position: relative;
}

#services .service-box h2{
    font-size: 1.3rem;
}

#services .service-box h4{
    font-size: 14px;
    margin: 2rem;
    font-weight: 100;
}
#services .service-box:hover h2, 
#services .service-box:hover h4,
#services .service-box:hover p{
    color: #fff;
    text-shadow: 0 0 0.2rem #000;
}

#services .service-box h4::before{
    content: "";
    height: 2px;
    width: 20%;
    background: var(--gradient-right);
    background-size: 200%;
    position: absolute;
    top: 120%;
}

#services .service-box:hover h4::before{
    background: #fff;
}

#tesitmonial h3::after{
    left: 10rem;
    top: 0.5rem;
}

#tesitmonial .profile-image{
    height: 15rem;
    width: 15rem;
    background: var(--gradient-top-right);
    overflow: hidden;
    border-radius: 50%;
    padding: 0.2rem;
    margin-left: 5rem;
}

#tesitmonial .profile-image img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

#tesitmonial .container,
#tesitmonial .review{
    display: flex;
    width: 100%;
    margin: auto;
    position: relative;
}
#tesitmonial .container{
    margin-right: 5rem;
    transition: left 0.25s ease-in;
}
#tesitmonial .review{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

#tesitmonial .container .review-box{
    margin-left: 8rem;
}

#tesitmonial .container .review-box h2{
    color: var(--primary);
    font-size: 1.3rem;
    letter-spacing: 1px;
}

#tesitmonial .container .review-box h4{
    color: #797979;
    font-size: 1rem;
    font-weight: 100;
    margin: 1rem 0;
}

#tesitmonial .container .review-box p{
    margin: 2rem 0;
}

#tesitmonial .review > div:last-child{
    height: 2rem;
    width: 5rem;
    position: absolute;
    bottom: 0;
    left: calc(50%);
    display: flex;
}
.dots{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px #000;
    margin: auto;
    cursor: pointer;
    transition: background 0.25s ease-in;
}

.dots:hover{
    background: #797979;
}
.active-slide{
    left: -191%;
    background: #fff;
    transition: left 0.25s ease-in;
}
.active-slide-second{
    left: -95.5%;
    background: #fff;
    transition: left 0.25s ease-in;
}
.active-slide-first{
    left: 0;
    background: #fff;
    transition: left 0.25s ease-in;
}

.active-dot{
    background: #797979;
}

.bxs-star{
    color: var(--primary);
}

.star{
    color: gold;
    text-shadow: 0 0 2px var(--primary);
}

#portfolio{
    margin-top: 15rem;
}

#portfolio h3::after{
    left: 8.5rem;
    top: 0.5rem;
}

#portfolio ul{
    display: flex;
    margin: 3rem 0;
}

#portfolio  ul li a{
    margin: 0 1rem;
    font-size: 13px;
    cursor: pointer;
}

#portfolio ul li a:hover{
    color: #00f;
}
.active-portfolio{
    color: #00f;
}

